/*http://stackoverflow.com/questions/13968486/move-div-with-css-transition*/

body {
  /*http://css-tricks.com/snippets/css/better-helvetica/*/
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

  background-color: gray;
}

#main-content {
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;

  padding: 10px 10px 0 10px;

  background-color: white;

  /*http://stackoverflow.com/questions/10463208/box-shadow-on-the-left-side-of-the-element-only*/
  box-shadow: -6px 0px 10px 1px #646464;

  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

#main-content.closed {
  left: 0;
}

#main-content.open {
  left: 150px
}

#menu-slider-hamburger {
  height: 15px;
  width: 20px;
}

#menu-slider-hamburger:hover {
  cursor: pointer;
}

#menu-slider-hamburger > .menu-slider-hamburger-bar {
  margin-bottom: 3px;
  height: 3px;
  width: 20px;
  background-color: gray;
  opacity: 0.5;

  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}

#menu-slider-hamburger.open > #top-bar {
  transform: translateY(6px) rotate(45deg);
}

#menu-slider-hamburger.open > #middle-bar {
  transform: rotateY(90deg);
}

#menu-slider-hamburger.open > #bottom-bar {
  transform: translateY(-6px) rotate(-45deg);
}

#menu-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: auto;

  background: gray;
}

#menu-wrapper.closed {
}

#menu-wrapper.open {
  display: block;
}

ul#menu {
  list-style-type: none;
  padding: 0 30px 0 0;
}

ul#menu li {
  border-bottom: 1px solid darkgray;
}

ul#menu li.selected {
  background-color: rgb(171, 171, 171);
}

ul#menu > li > a {
  display: block;

  padding: 10px 60px 10px 10px;

  text-decoration: none;
}

ul#menu > li > a:link {
  color: white;
}

ul#menu > li > a:hover {
  color: white;
}

ul#menu > li > a:visited {
  color: white;
}