/*http://stackoverflow.com/questions/13968486/move-div-with-css-transition*/

#main-content {
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s ease-out;
		 -moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			 -o-transition: all 0.3s ease-out;
					transition: all 0.3s ease-out;	
}

#main-content.closed {
	left: 0;
}

#main-content.open {
	left: 50px
}

#menu-wrapper {
	position: absolute;
	top: 0;
	background: gray;
	-webkit-transition: all 0.3s ease-out;
		 -moz-transition: all 0.3s ease-out;
			-ms-transition: all 0.3s ease-out;
			 -o-transition: all 0.3s ease-out;
					transition: all 0.3s ease-out;	
}

#menu-wrapper.closed {
	left: -50px;
}

#menu-wrapper.open {
	left: 0px;
}
